In [14]:
#Using ScraperAPI Website to get an API key
import requests # Used to make HTTP request to the twitter website
import pandas as pd

In [20]:
# create an empty list to append our data 
twitter_data = []

In [35]:
# A set that will contain the parameters that will dectate how our search works
payload = {
    'api_key':'179d903c5ff3b887fa1ea4b0beba4c43',
    'query':'Amazon products',
    'date_range_start':'2022-11-14',
    'date_range_end':'2023-11-14',
    'num':'300'
}
response = requests.get(
    'https://api.scraperapi.com/structured/twitter/search',params=payload# passing the link to the scraper API
)
data = response.json()

In [36]:
#Iterating through our data and put it in the dataframe
all_tweets = data['organic_results']# this is a key from our data
for tweet in all_tweets:
    twitter_data.append(tweet)

In [37]:
df = pd.DataFrame(twitter_data)
df.to_csv('tweetsAnalysis11.csv')
print("file exported")

file exported

In [38]:
df2 = pd.read_csv(r"C:\Users\MATLALA SK\tweetsAnalysis11.csv")
df2

,Unnamed: 0,position,title,snippet,highlighs,link,displayed_link,sitelinks
0,0,0,The Information,2 days ago — Exclusive: Amazon and Snap reache...,['Amazon products'],https://mobile.twitter.com/theinformation/stat...,https://mobile.twitter.com › theinformation › ...,NaN
1,1,1,InStyle,15 hours ago — 8 Amazon Products That Made My ...,['Amazon Products'],https://mobile.twitter.com/InStyle/status/1724...,https://mobile.twitter.com › InStyle › status,NaN
2,2,2,Sylvia Varnham O'Regan,1 day ago — Scoop: Amazon has reached a deal w...,['Amazon products'],https://mobile.twitter.com/SylviaVarnham/statu...,https://mobile.twitter.com › SylviaVarnham › s...,NaN
3,3,3,Glenn Gabe,1 day ago — Broadening Amazon's reach -> Amazo...,['Amazon products'],https://twitter.com/glenngabe/status/172441035...,https://twitter.com › glenngabe › status,NaN
4,4,4,Roxxsaurus,"Feb 3, 2023 — 15 AMAZON PRODUCTS THAT WILL CHA...",['AMAZON PRODUCTS'],https://twitter.com/Roxxsaurus/status/16215700...,https://twitter.com › Roxxsaurus › status,NaN
...,...,...,...,...,...,...,...,...
101,101,5,Roxxsaurus,"Feb 3, 2023 — 15 AMAZON PRODUCTS THAT WILL CHA...",['AMAZON PRODUCTS'],https://twitter.com/Roxxsaurus/status/16215700...,https://twitter.com › Roxxsaurus › status,NaN
102,102,6,Amazon $AMZN has reached a deal with Snapchat ...,1 day ago — Amazon $AMZN has reached a deal wi...,['Amazon products'],https://twitter.com/StockMKTNewz/status/172438...,https://twitter.com › StockMKTNewz › status,NaN
103,103,7,Carson,"Sep 2, 2023 — Found this Amazon page for a hea...",['amazon products'],https://twitter.com/CallMeCarsonYT/status/1697...,https://twitter.com › CallMeCarsonYT › status,NaN
104,104,8,Snapchat Shares Jump 7% After Deal To Sell Ama...,20 hours ago — Snapchat Shares Jump 7% After D...,['Amazon Products'],https://twitter.com/Forbes/status/172453896715...,https://twitter.com › Forbes › status,NaN
105,105,9,Amazon Science (@AmazonScience) ...,"Nov 6, 2023 — Amazon products use hardware opt...",['Amazon products'],https://twitter.com/AmazonScience,https://twitter.com › AmazonScience,NaN

In [39]:
# Dropping the unwanted columns 
tf2 = df2.drop(['link', 'displayed_link', 'highlighs'], axis = 1)
print(f"Total Length of the Dataset: {len(tf2)}")
tf2.head()

Total Length of the Dataset: 106

,Unnamed: 0,position,title,snippet,sitelinks
0,0,0,The Information,2 days ago — Exclusive: Amazon and Snap reache...,NaN
1,1,1,InStyle,15 hours ago — 8 Amazon Products That Made My ...,NaN
2,2,2,Sylvia Varnham O'Regan,1 day ago — Scoop: Amazon has reached a deal w...,NaN
3,3,3,Glenn Gabe,1 day ago — Broadening Amazon's reach -> Amazo...,NaN
4,4,4,Roxxsaurus,"Feb 3, 2023 — 15 AMAZON PRODUCTS THAT WILL CHA...",NaN

In [40]:
tf2.to_csv('tweetsSentimentAnalysis11.csv')
print("file exported")

file exported